page-mess {

    .logoutTitle{
        padding-left: 30%;
        font-size: medium;
    }

    .logoutTitle{
        padding-left: 30%;
        font-size: medium;
    }

    .filterlablstyle{
        float: right; 
    }
    
    // Search Bar

    input[type=text] {
        width:10px;
        box-sizing: border-box;
        border: 1px solid #30d05f;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('assets/imgs/search.png');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        float: right;
    }
    
    input[type=text]:focus {
        width: 100%;
    }
    // End Search Bar
    .imageSize{
        height: 35px !important;
        width: 35px !important;
    }
    .fontStyle{
        font-size: 12px;
        margin-top: 1%;
    }
    .dropdownbtn{
        border-color: white !important;
        color: black;
    }
    .dropdownText{
    font-family: sans-serif
    }
    .rowheight{
        margin-bottom: -5%;
    }
    .imagePosition{
        position: fixed;
    }

	
	.card-md{
		position:relative;
		box-shadow:none;	
		.messIcon{
			position:absolute;
			top:0px;
			left:0;
			height:50px;
			width:50px;
			z-index:10;
			border-radius:50%;
			border:1px solid #000;
		}
		ion-item{
			margin-top: 25px;
			border-radius:5px;
			border: 1px solid #000;
			.openClose{
				position:absolute;
				top:2px;
				right:5px;
			}
			.messName{
				font-size: 1.3em;
				position: absolute;
				top: 5px;
				left: 70px;
			}
			.messInfo{
				margin-top:20px;
				.messFees{
				
				}
				.messltd{
				
				}
				.messTodayMenu{
				
				}
			}
			
		}
	}
	.list-md{margin-bottom:80px;margin-top:40px;}
	.scroll-content{margin-top:130px;}
	ion-header{background:#fff}
}
