page-mess-detail {

    .hotelInitialText-datailPage{
        background-color: lightgrey;
        z-index: 1;
        margin-bottom: -6%;
        margin-left: 42%;
        height: 50px;
        width: 16%;
        border-radius: 100%;
    }
    .htldetailImg{
        position: fixed;
    }
    .htlDetailContent{
        margin-top: 50% !important;
    }

}
