page-hotel-home {

    .imagePosition{
        position: fixed;
    }
    .hotelInitialText{
        background-color: lightgrey;
        z-index: 1;
        margin-bottom: -6%;
        margin-left: 7%;
        height: 50px;
        width: 16%;
        border-radius: 100%;
    }
    .hotel-content{ 
        margin-top: 60% !important;
        overflow-y: hidden !important;
      }
    .viewProfileTxt{
        float:right;
        color:blue;
    }  
	
	
	
	
	ion-card.hotel-content ion-item.hotDet{
	width: 96%;
    margin: 0 auto;
    border-radius: 10px;
	}
	ion-card.hotel-content {
	width: 90%;
    margin: 45% auto 80px !important;
	}
  
}
